.bg-image{
    background-image: url(../image/4.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.w-small{
    width: 80px;
    height: 80px;
}

@media screen and (min-width:500px) and (max-width:1400px){
        #output p{
            /* font-size: 10px; */
        }

        #output div{
            margin-top: 0px;
        }
}